scen_1.json
{
  "name": "GrandTent Auto-Quotation",
  "nodes": [
    {
      "parameters": {
        "event": "ON_CRM_DEAL_ADD",
        "additionalFields": {
          "fields": ["ID", "TITLE", "UF_CRM_PRODUCT_TYPE", "UF_CRM_SIZE", "UF_CRM_MATERIAL"]
        },
        "credentials": {
          "authType": "webhook",
          "webhookPath": "your_bitrix_webhook_url"
        }
      },
      "name": "Bitrix24 Trigger",
      "type": "bitrix24-trigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const deal = $json;\nreturn [\n  {\n    json: {\n      messages: [\n        {\n          role: 'system',\n          content: 'Ты ассистент GrandTent. Сгенерируй текст КП в формате HTML без CSS. Структура:\\n1. Шапка (Название компании)\\n2. Параметры (таблица)\\n3. Расчет стоимости\\n4. Сроки производства\\n5. Контакты. Данные:'\n        },\n        {\n          role: 'user',\n          content: `Тип: ${deal.UF_CRM_PRODUCT_TYPE || 'Не указан'}\\nРазмер: ${deal.UF_CRM_SIZE || 'Не указан'}\\nМатериал: ${deal.UF_CRM_MATERIAL || 'Не указан'}\\nКлиент: ${deal.TITLE}`\n        }\n      ],\n      model: 'gpt-4-turbo'\n    }\n  }\n];"
      },
      "name": "Build GPT Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "={{ $json.model }}",
        "messages": "={{ $json.messages }}",
        "options": {},
        "credentials": {
          "apiKey": "your_openai_api_key"
        }
      },
      "name": "Generate Proposal",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1
    },
    {
      "parameters": {
        "html": "={{ $json.choices[0].message.content }}",
        "options": {
          "format": "A4",
          "margin": "20mm"
        }
      },
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.htmlToPdf",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "file": "={{ $json.pdf }}",
        "chatId": "your_manager_chat_id",
        "caption": "КП для сделки #{{ $node[\"Bitrix24 Trigger\"].json.ID }}",
        "credentials": {
          "accessToken": "your_telegram_bot_token"
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Bitrix24 Trigger": {
      "main": [
        [
          {
            "node": "Build GPT Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GPT Prompt": {
      "main": [
        [
          {
            "node": "Generate Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Proposal": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "grandtent-auto-quote",
  "version": 1
}
